.eventForm {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventForm__title {
  color: blanchedalmond;
}

.formContainer {
  background: #d9d9d9;
  width: 50vw;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.621);
  border-radius: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-group input {
  width: 60%;
}

.addEvent {
  min-height: 40px;
  min-width: 14%;
  margin-right: 3%;
  background: #4d5a4b;
  border: none;
  font-family: "Glegoo";
  color: blanchedalmond;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
