.container {
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:blanchedalmond;
  min-height: 95px;
  font-size:25px;
  margin-bottom:5px;
  position: relative;
}

.events {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  padding-left: 20%;
  flex-direction: row;
  flex-wrap: wrap;
}

.event {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.347);
  max-width: 18%;
  background: #d7ddd7;
  margin-right: 3%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.event:hover {
  box-shadow: #798a77 5px 5px;
}

.eventHeader {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 25%;
}

.editButton {
  /* border:1px solid red; */
  position: absolute;
  left: 15px;
  top: 5px;
  background: #4d5a4b;
  min-width: 40%;
  min-height: 28px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.editButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.addEventButton {
  min-width: 150px;
  min-height: 35px;
  position: absolute;
  right: 5%;
  top: 15%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #4d5a4b;
  border: 1px solid black;
  color: blanchedalmond;
}

.addEventButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.headerText {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 10%;
  max-width: 90%;
  text-align: center;
}

.link {
  text-decoration: none;
  color: blanchedalmond;
}

.eventBody {
  /* border:1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.eventFooter {
  /* border:1px solid red; */
  position: absolute;
  bottom: 5px;
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

html {
  font-family: Glegoo;
}
