@font-face {
  font-family: "Glegoo";
  src: local("Glegoo"), url(./Assets/Glegoo-Regular.ttf) format("woff");
}
@font-face {
  font-family: "Glegoo Bold";
  src: local("Glegoo"), url(./Assets/Glegoo-Bold.ttf) format("woff");
}

body {
  margin: 0;
  font-family: Glegoo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
