@font-face {
  font-family: "Glegoo";
  src: local("Glegoo"), url(../../Assets/Glegoo-Regular.ttf) format("woff");
}
@font-face {
  font-family: "Glegoo Bold";
  src: local("Glegoo"), url(../../Assets/Glegoo-Bold.ttf) format("woff");
}

.navImgContainer {
  margin-top: 0;
  min-height: 350px;
  background-image: url("./zoo.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.navBarLinks {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 20px;
}

.navbar__item {
  border: 1px solid black;
  background-color: rgb(77, 90, 75);
  margin: 10px 10px;
  min-height: 2vh;
  max-height: 2vh;
  min-width: 7vw;
  max-width: 7vw;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.navbar__link {
  color: blanchedalmond;
  text-decoration: none;
  font-family: "Glegoo", serif;
}

.Logo {
  position: absolute;
  top: 5%;
  left: 3%;
}


html{
  font-family:Glegoo;
}